.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
	background-color: #202020;
	border: 0.1rem solid #00bf63;
	height: 10rem;
	flex: 0 0 auto;
	margin-top: auto;
	&__logo {
		a {
			img {
				width: 2rem;
			}
		}
	}
	&--text {
		color: white;
	}
}
